body{
	background-color: #E8E8E8;
	margin: 0;
	padding: 0;
}
*{
	font-family: Helvetica;
}
.container{
	width: 100%;
	max-width: 700px;
	margin:auto;
}
.header{
	width: 100%;
}
.logo_bar{
	width: 100%;
	height: 80px;
	background-color: #0A5598;
}
.main{
	width: 100%;
	background-color: white;
	text-align: center;
}
.footer{
	width: 100%;
	height: 50px;
}
.data div{
	padding: 15px 30px;
}
p{
	margin: 3px;
}
.logo_bar{
	display: flex;
	align-items: center;
}
.logo_bar img{
	margin: auto;
}
.main_img{
	background: url(./fans.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main_img p{
	color: white;
	font-size: 60px;
	margin: auto;
	text-align: center;
}
.main_text {
	font-size: 60px;
	margin: auto;
}
.content{
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 426px;
	color: #bbb;
}
.content2{
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 656px;
	color: #bbb;
}
.msg_con{
	margin-top: 15px;
	margin-bottom: 15px;
	color: black;
}
.renew_bttn{
	background-color: #46E930;
	border: none;
	width: 180px;
	height: 40px;
	color: white;
	font-weight: 600;
}
.upgrade_bttn{
	background-color: #0A5598;
	border: none;
	width: 180px;
	height: 40px;
	color: #46E930;
	font-weight: 600;
	margin-bottom: 30px;
}
.copyright{
	margin-bottom: 30px;
}
.footer{
	display: flex;
	flex-direction: column;
	justify-content: center; 
}
.nav{
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}
.nav a{
	font-weight: 600;
	border-right: 2px solid #bbb;
	text-decoration: none;
	padding: 0 3%;
	color: #0A5598;
}
.end{
	border-right: none !important;
}

.old_cost{
	text-decoration: line-through;
}
.new_cost{
	color: #0A5598;
}
.upgrade_con{
	color: black;
}
.cat{
	width: 90%;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 110px;
	border: 3px solid #0A5598;
	display: flex;
	justify-content: center;
	align-items: center;

}
.cat_title{
	padding: 0 15px;
	position: absolute;
	color: #0A5598;
	margin-top: -10px;
	background-color: white;
	font-weight: 600;
}
.game_img{
	width: 98%;
	height: 80%;
	background-size: 100%;
	margin: auto;
}


/*version 3*/
.fan1{
	margin-top: 20px;
	width: 50%;
}
.comment{
	font-size: 14px;
}
.contact{
	margin-top: 10px;
	width: 60%;
}